#boton {
    
    font-weight: bold;
    
}


h1 {
    font-size: 20px;
    font-weight: bold;
   
}
input {
    background-color: rgb(18, 82, 156);
    color:white;
    font-weight: bold;
    
}

#resultado {
font-size:25px;

}

* {
    font-family: Arial, Helvetica, sans-serif;
}